body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none
}

:root {
  --space: 1.5em 0;
  --space: 2em 0;
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.Site-content {
  flex: 1;
  padding: var(--space) var(--space) 0;
  width: 100;
}

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--spcae);
  height: 0;
  visibility: hidden;
}

.wrapper {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
}

.sidebar {
  border: 1px solid black;
  padding: 15px;
  margin-top: 2px;
  margin-right: 2px;
  background-color: #fff;
  width: 40%;
  height: 60vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}

.mainJason {
  width: 60%;
  padding: 15px;
  /* height: 150vh; */
}

.fullName,
.foodOrder {
  padding: 10px;
}

.sidebarTwo {
  flex-direction: row-reverse;
  border: 1px solid black;
  padding: 15px;
  margin-top: 2px;
  margin-right: 2px;
  background-color: #fff;
  width: 30%;
  height: 50vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.mainRestaurant {
  width: 60%;
  padding: 15px;
  /* height: 150vh; */
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}
